<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath*:movieland.properties"/>

    <context:component-scan base-package="com.nabivach">
        <context:exclude-filter type="regex" expression="com\.nabivach\.movieland\.controller\..*"/>
    </context:component-scan>

    <!--DAO BEAN-->

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${dataSource.driverClassName}"/>
        <property name="url" value="${dataSource.url}"/>
        <property name="username" value="${dataSource.username}"/>
        <property name="password" value="${dataSource.password}"/>
        <property name="initialSize" value="${dataSource.initialSize}"/>
        <property name="maxTotal" value="${dataSource.maxTotal}"/>
    </bean>

    <!-- QUERY BEANS STRING CLASS-->

    <bean id="getAllMoviesSQL" class="java.lang.String">
        <constructor-arg value="select id, name, originalName, releaseYear, rating from movie"/>
    </bean>

    <bean id="getCountryForMovieSQL" class="java.lang.String">
        <constructor-arg
                value="select c.* from movie_country mc join country c on mc.country_id = c.id where mc.movieId = ?"/>
    </bean>

    <bean id="getGenresForMovieSQL" class="java.lang.String">
        <constructor-arg
                value="select g.* from movie_ganre mg join genre g on mg.genre_id = g.id where mg.movieId = ?"/>
    </bean>

    <bean id="getReviewForMovieSQL" class="java.lang.String">
        <constructor-arg value="select rv.* from review rv where rv.movieId = ? limit ?"/>
    </bean>

    <bean id="getMovieByIdSQL" class="java.lang.String">
        <constructor-arg value="select * from movie where movieId = ?"/>
    </bean>

    <bean id="getGenresForAllMoviesSQL" class="java.lang.String">
        <constructor-arg value="select g.* from genre g "/>
    </bean>

    <!-- JDBC TEMPLATE-->

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="namedJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

</beans>